In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from sklearn.metrics import mean_squared_log_error

Transformando os dados em arrays:

In [3]:
dataset = pd.read_csv('carga_gw_2020.csv', sep= ';')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

Visualizando os dados do dataframe:

In [4]:
dataset.head()

   01/01/2018   1.264,5
0  02/01/2018  1.519,40
1  03/01/2018  1.591,30
2  04/01/2018  1.588,70
3  05/01/2018  1.594,70
4  06/01/2018  1.486,20

Visualizando a informação do dataframe:

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Semana  73 non-null     int64
 1   Carga   73 non-null     int64
dtypes: int64(2)
memory usage: 1.3 KB

Criando a função de erro:

In [5]:
def rmsle(ytrue,ypred):
    return np.sqrt(mean_squared_log_error(ytrue, ypred))

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [7]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[35238.37 39052.  ]
 [34975.24 40432.  ]
 [37014.54 35246.  ]
 [35633.07 36530.  ]
 [36619.83 34457.  ]
 [36751.4  34161.  ]
 [33856.91 32270.  ]
 [35172.59 41264.  ]
 [36225.13 35982.  ]
 [38001.29 39572.  ]
 [35698.86 35703.  ]
 [34843.67 41980.  ]
 [35830.43 38936.  ]
 [34514.75 34934.  ]
 [36290.91 39196.  ]]

In [9]:
X_test

array([[50],
       [54],
       [23],
       [44],
       [29],
       [27],
       [71],
       [51],
       [35],
       [ 8],
       [43],
       [56],
       [41],
       [61],
       [34]], dtype=int64)

In [10]:
y_pred.reshape(len(y_pred),1)

array([[35238.37],
       [34975.24],
       [37014.54],
       [35633.07],
       [36619.83],
       [36751.4 ],
       [33856.91],
       [35172.59],
       [36225.13],
       [38001.29],
       [35698.86],
       [34843.67],
       [35830.43],
       [34514.75],
       [36290.91]])

Calculando o erro:

In [11]:
p = y_pred
error = rmsle(y_test, p)
print('Mean Error = %.5f' % np.mean(error))

Mean Error = 0.08975